HAVE_Safe_Errno := True
HAVE_IRIX_Timers := False
HAVE_Safe_Errno := True
HAVE_IRIX_Timers := False
--  could not find tli.h
TLI := False
--  set BSD4_3 to False if using 4.4 style socket msghdr
BSD4_3 := False
HAVE_Safe_Errno := True
HAVE_IRIX_Timers := False
--  could not find tli.h
TLI := False
HAVE_Safe_Errno := True
HAVE_IRIX_Timers := False
--  could not find tli.h
TLI := False
HAVE_Safe_Errno := True
HAVE_IRIX_Timers := False
--  could not find tli.h
TLI := False
HAVE_Safe_Errno := True
HAVE_IRIX_Timers := False
--  could not find tli.h
TLI := False
